Metadata-Version: 1.0
Name: {{ package.name }}
Version: {{ package.version }}
Summary: UNKNOWN
Home-page: UNKNOWN
Author: UNKNOWN
Author-email: UNKNOWN
License: UNKNOWN
Description: UNKNOWN
Platform: UNKNOWN

