<configure
    xmlns="http://namespaces.zope.org/zope"
    xmlns:five="http://namespaces.zope.org/five"
    xmlns:genericsetup="http://namespaces.zope.org/genericsetup"
    xmlns:i18n="http://namespaces.zope.org/i18n"
    xmlns:plone="http://namespaces.plone.org/plone"
    >

{% for import in package.zcml_include_package %}
    <include package="{{ import }}" />
{% endfor %}

{% for import in package.zcml_include_file %}
    <include file="{{ import }}" />
{% endfor %}

{% for stanza in package.zcml_stanzas %}
    {{ stanza }}
{% endfor %}

    <five:registerPackage package="." initialize=".initialize" />

</configure>

