<?xml version="1.0" encoding="utf-8"?>
<metadata>
    <dependencies>
{% for dependency in profile.dependencies %}
        <dependency>profile-{{ dependency }}</dependency>
{% endfor %}
    </dependencies>
</metadata>
