<configure
    xmlns="http://namespaces.zope.org/zope"
    xmlns:five="http://namespaces.zope.org/five"
    xmlns:genericsetup="http://namespaces.zope.org/genericsetup"
    xmlns:i18n="http://namespaces.zope.org/i18n"
    >

{% for profile in package.profiles %}
    <genericsetup:registerProfile
        name="{{ profile.profile_name }}"
        title="{{ package.name }}:{{ profile.profile_name }}"
        directory="profiles/{{ profile.profile_name }}"
        description="{{ package.name }} - {{ profile.profile_name }}"
        provides="Products.GenericSetup.interfaces.EXTENSION"
        />
{% endfor %}

</configure>

